
.slick-prev {
    left: 100%;
    margin-left: 30px;
    position: absolute;
    top: 45%;
    width: 30px;
    height: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.slick-next {
    left: 100%;
    margin-left: 30px;
    position: absolute;
    top: 65%;
    width: 30px;
    height: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: black;
}

.slick-prev:hover, .slick-next:hover{
    color: gray;
}